In [1]:
import yfinance as yf
import datetime

In [14]:
start = datetime.datetime(2023,2,25)
end = datetime.datetime(2023,3,21)

In [15]:
Goog = yf.Ticker("GOOG")

Goog_hist = amzn.history(start=start,end=end)
Goog_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-27 00:00:00-05:00,90.089996,90.449997,89.610001,90.099998,22724300,0.0,0.0
2023-02-28 00:00:00-05:00,89.540001,91.449997,89.519997,90.300003,30546900,0.0,0.0
2023-03-01 00:00:00-05:00,90.160004,91.199997,89.849998,90.510002,26323900,0.0,0.0
2023-03-02 00:00:00-05:00,89.860001,92.480003,89.769997,92.309998,23328600,0.0,0.0
2023-03-03 00:00:00-05:00,92.739998,94.110001,92.660004,94.019997,30242500,0.0,0.0
2023-03-06 00:00:00-05:00,94.360001,96.300003,94.300003,95.580002,28288200,0.0,0.0
2023-03-07 00:00:00-05:00,95.419998,96.089996,93.844002,94.169998,24101500,0.0,0.0
2023-03-08 00:00:00-05:00,94.404999,96.239998,94.404999,94.650002,25395200,0.0,0.0
2023-03-09 00:00:00-05:00,94.489998,95.919998,92.355003,92.660004,24438900,0.0,0.0
2023-03-10 00:00:00-05:00,92.500000,93.180000,90.800003,91.010002,32850100,0.0,0.0
2023-03-13 00:00:00-04:00,90.565002,93.080002,89.940002,91.660004,31508600,0.0,0.0
2023-03-14 00:00:00-04:00,93.070000,94.830002,92.779999,94.250000,32303900,0.0,0.0
2023-03-15 00:00:00-04:00,93.540001,97.250000,93.040001,96.550003,38367300,0.0,0.0
2023-03-16 00:00:00-04:00,96.570000,101.970001,95.870003,101.070000,54499500,0.0,0.0
2023-03-17 00:00:00-04:00,100.839996,103.489998,100.750000,102.459999,76140300,0.0,0.0
2023-03-20 00:00:00-04:00,101.059998,102.580002,100.790001,101.930000,26033900,0.0,0.0

In [13]:
Goog_hist.to_csv(r'C:\Users\Vivek\OneDrive\Desktop\Google3.csv')