In [47]:

import pandas as pd
import tweepy
import datetime
def scrape(words, numtweet):       
        tweets = tweepy.Cursor(api.search_tweets,
                               words, lang="en",
                               tweet_mode='extended').items(numtweet)
        list_tweets = [tweet for tweet in tweets]
        i = 1
        tweets=[] 
        date = []
        for tweet in list_tweets:
                hashtags = tweet.entities['hashtags']
                try:
                        text = tweet.retweeted_status.full_text
                except AttributeError:
                        text = tweet.full_text
                hashtext = list()
                tweets.append(text)
                date.append(tweet.created_at)
                i = i+1        
        return tweets, date
        
 

consumer_key = "jGFiVO9ZIq4NIVXb5Fo9uuC7Y" 
consumer_secret = "y9HR9v7m6WNR4lFIsaPvpvMAGJrwwjsTuDYw48C8J86PwxCrvR"
access_key = "1573820904701837313-0XTY2xYXQg7YUo3XWLbRvR6qVrqorF"
access_secret = "DFajYKkXIEbeJQUtc416iVKdhJk18jFtgmLBek6TIWLzp"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth)
 
      
print("Enter Twitter HashTag to search for")
words = input()
        
numtweet = 2000
tweets=scrape(words, numtweet)
d = {'Tweets': tweets[0], 'date': tweets[1]}
df=pd.DataFrame(data=d)

Enter Twitter HashTag to search for
useconomy

In [27]:
df.to_csv(r'C:\Users\Vivek\OneDrive\Desktop\Google_tweets_8.csv')

In [48]:
df

,Tweets,date
0,A new Gallup poll released last week found tha...,2023-04-10 17:30:10+00:00
1,"‚ÄúUnder executive order of the President, all p...",2023-04-10 17:09:44+00:00
2,"‚ÄúUnder executive order of the President, all p...",2023-04-10 16:07:59+00:00
3,"‚ÄúUnder executive order of the President, all p...",2023-04-10 16:05:18+00:00
4,"Average hourly #earnings rose 0.3%, pushing th...",2023-04-10 14:12:00+00:00
...,...,...
273,EXPOSED: THE ‚Äú$ECRETS OF THE TEMPLE‚Äù\n#federal...,2023-04-01 17:14:41+00:00
274,üá∫üá∏ GDP\n\nThe GDPNow model estimate for US rea...,2023-04-01 16:54:19+00:00
275,üá∫üá∏ GDP\n\nThe GDPNow model estimate for US rea...,2023-04-01 16:05:28+00:00
276,EXPOSED: THE ‚Äú$ECRETS OF THE TEMPLE‚Äù\n#federal...,2023-04-01 15:41:51+00:00
277,Sales Managers Prices Charged Index for Americ...,2023-04-01 15:24:13+00:00

In [5]:
import pandas as pd
final = pd.read_csv(r"C:\Users\Vivek\OneDrive\Desktop\GURRAM SAI VIVEK REDDY\Seminar in Research & Research Methodology\Project CSV file.csv", encoding = 'utf8')

In [13]:
final.head()

                                              Tweets            date
0  @ErikSolheim @Google_12point7 @ShehabBawazeer2...  3/6/2023 12:41
1  AI related Important terms you must know for U...  3/6/2023 12:41
2  INEC chairman has obtained a new citizenship i...  3/6/2023 12:41
3  Technical difficulties delay committee meeting...  3/6/2023 12:41
4  I can't shake the feeling that young people pr...  3/6/2023 12:41

In [7]:
import string
import nltk
from nltk.corpus import stopwords


rev = []
for i in final['Tweets']:
  s = str(i)
  x = s.replace(s[:37],"").replace("<br/><br/>","").replace("</div>", "").replace("\n", " ")
  rev.append(x.lower())



def Punctuation(rev):
    punctuation = string.punctuation
    lis = []
    for sentence in rev:
      se=[]
      se.clear()
      for j in sentence:
        #print(j)
        if j in punctuation:
          se.append("")        
        else:
          se.append(j)  
      lis.append("".join(se).replace("i ", ""))
      
       
    return lis
      
def convert_sentence(rev):
  reviews=[]
  for i in rev:
    review.append(i)
  return reviews

In [8]:
data = pd.DataFrame({'Tweets': Punctuation(rev)})

In [19]:
data.to_csv(r'C:\Users\Vivek\OneDrive\Desktop\Recession.csv')

In [43]:
data["Tweet Date"] = final["date"].values

In [11]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
lemmatizer = WordNetLemmatizer()
from nltk.stem import PorterStemmer
ps = PorterStemmer()
nltk.download('stopwords')
stop=set(stopwords.words('english'))

nltk.download('punkt')


def Tokenize(rev):
    reviews=[]
    for i in rev:
        nltk_tokens = nltk.word_tokenize(i)
        reviews.append(nltk_tokens)
    return reviews

def Stemming_Lemmetize(rev):
    lem_reviews = []
    for i in rev:
        len_sen=[]
        for j in i:
            len_sen.append(ps.stem(lemmatizer.lemmatize(j)))
    lem_reviews.append(len_sen)
    return lem_reviews


nltk.download('stopwords')
stop=set(stopwords.words('english'))
def stop_words(sl):
    
    stop = set(stopwords.words('english'))
    b=[]
    for sen in x:
        a=[]
        for i in sen:
            if i in stop or len(i)==1:
                continue
            else:
                a.append(i)
    b.append(a)
    return b

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Vivek\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vivek\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Vivek\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vivek\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
#refined_tweets = Stemming_Lemmetize(stop_words(Tokenize(data["Tweets"])))
import re
x=Tokenize(final["Tweets"])
b=[]
for sen in x:
    a=[]
    for i in sen:
        if i in stop or len(i)==1 or i[0:5]=="https" or i.isdigit() or re.sub("\S*\d\S*", "", i)=="":
            continue
        else:
            a.append(i)
    b.append(a)
    
data['cleaned_tweets'] = b
data.head(10)

,Tweets,cleaned_tweets
0,bawazeer2 china4tech it will take a lot of hum...,"[ErikSolheim, It, take, lot, humility, side, A..."
1,now for upsc prelims google and just understa...,"[AI, related, Important, terms, must, know, UP..."
2,zenship in a country called latvia he will be...,"[INEC, chairman, obtained, new, citizenship, c..."
3,e meeting that google exec was set to attend ...,"[Technical, difficulties, delay, committee, me..."
4,people probably dont care at all about convers...,"[ca, n't, shake, feeling, young, people, proba..."
5,7 üëâhttpstcomyuvmav4cz win from the üí∞ of 500...,"[Join, MVPTradersLeague, AMA, Mar, üëâhttps, Win..."
6,rally your friends to join the blockchainspac...,"[Got, takes, become, legend, Rally, friends, j..."
7,ming mints in 30 days üëæü§Ø want a chance to be...,"[Wen, WL, We, 're, launching, FREE, gaming, mi..."
8,icipants will get 10 each worth data tokenüî• c...,"[Streamr, Network, The, first, participants, g..."
9,ber uoftcpe hosted a climate economy summit on...,"[UofT, bound, Big, Oil, In, November, UofT_CPE..."

In [32]:

import numpy as np
data['Tweets'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10537     True
10538     True
10539    False
10540     True
10541    False
Name: Tweets, Length: 10542, dtype: bool

In [36]:
b[10537]

['We',
 'seeing',
 'outflows',
 'EM',
 'nothing',
 'remotely',
 'qualifies',
 'exodus',
 'Instead',
 'price',
 'action',
 'EM',
 'looks',
 'like',
 'markets',
 'giving',
 'LatAm',
 'theme',
 'rotating',
 'towards',
 'Asia',
 'This',
 'rotation',
 'reflection',
 'rising',
 'recession',
 'risk',
 'markets',
 'see',
 'US',
 '...']

In [40]:
b.index(b[10537])

8816

In [44]:
data.head()

,Tweets,cleaned_tweets,Tweet Date
0,bawazeer2 china4tech it will take a lot of hum...,"[ErikSolheim, It, take, lot, humility, side, A...",3/6/2023 12:41
1,now for upsc prelims google and just understa...,"[AI, related, Important, terms, must, know, UP...",3/6/2023 12:41
2,zenship in a country called latvia he will be...,"[INEC, chairman, obtained, new, citizenship, c...",3/6/2023 12:41
3,e meeting that google exec was set to attend ...,"[Technical, difficulties, delay, committee, me...",3/6/2023 12:41
4,people probably dont care at all about convers...,"[ca, n't, shake, feeling, young, people, proba...",3/6/2023 12:41

In [45]:
data.to_csv(r'C:\Users\Vivek\OneDrive\Desktop\cleaned_tweets.csv')